body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-weight: normal;
}

.priceDisplay {
  background-color: lightgray;
  padding: 0em 2em;
  border-radius: 1em;
}

#priceDisplays {
  display: flex;
  justify-content: center;
  gap: 1em;
  max-width: 1000px;
  margin: auto;
}

#priceDisplays .priceDisplay:first-child {
  background-color: lightgreen;
}

#priceDisplays .priceDisplay:nth-child(2) {
  background-color: salmon;
}

#verticalPriceGraph {
  display: block;
  margin: auto;
  max-width: 1000px;
  margin-top: 2em;
  height: 500px;
}

#horizontalPriceGraph {
  display: none;
}

@media only screen and (max-width: 600px) {

  #priceDisplays {
    flex-direction: column;
    gap: 1em;
  }

  .priceDisplay {
    display: flex;
    width: auto;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
  }

  #verticalPriceGraph {
    display: none;
  }
  
  #horizontalPriceGraph {
    display: block;
    margin-top: 2em;
    height: 800px;
  }
}
